
body{
    margin: 0px;
    padding:0px;
}
 .nav{
    text-align: center;
} 
.nav a{
    color: antiquewhite;
}

.contact{
    text-align:center ;
}
.contact-info span{
    color: antiquewhite;
    font-size:20px;
   
}
.contact-text{
    color: antiquewhite;
}
.get-update{
    color: antiquewhite;
    text-align: center;
}
.contact-input{
    width: 50%;
    border-style: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: antiquewhite;
}
.contact-btn{
 width:35px;
 border-style: none;
 border-radius:3px ;
 -webkit-border-radius:3px ;
 -moz-border-radius:3px ;
 -ms-border-radius:3px ;
 -o-border-radius:3px ;
 background-color:#43233B ;
}
.contact-btn span{
    color: aliceblue;
}
.hr-style {
    border-color: antiquewhite;
    width: 60% ;
    margin-left: auto;
    margin-right: auto;
  }
  
/* small screen*/
@media (max-width:455px) {
    .mail{
        margin-left: 55px;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    
}

/*above small*/
@media (min-width:456px) {
    .contact-info{

        display: flex;
       flex-direction: row;
       text-align: center;
    }
    .mail{
       /* margin:3px; */
       margin: 5px;
    
    }
    .nav{
        display: flex;
        flex-direction: row;
    }
    .home{
        margin: 5px;
        font-size:15px;
    }
    .contact-input{
        width: 30%;
        border-style: none;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        background-color: antiquewhite;
    }
}




